asgiref==3.8.1
Babel==2.15.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.7
defusedxml==0.8.0rc2
dj-stripe==2.8.4
Django==3.2.12
django-autocomplete-light==3.11.0
django-extra-views==0.14.0
django-haystack==3.3b2
django-localflavor==3.1
django-oscar==3.2.4
django-oscar-paypal==0.9.7
django-phonenumber-field==6.4.0
django-tables2==2.3.4
django-treebeard==4.4
django-widget-tweaks==1.5.0
factory-boy==3.2.1
Faker==25.2.0
idna==3.7
oauthlib==3.2.2
packaging==24.0
paypal==1.2.5
paypalrestsdk==1.13.3
phonenumbers==8.13.37
pillow==10.3.0
pip==24.0
purl==1.6
pycountry==23.12.11
pycparser==2.22
PyJWT==2.8.0
pyOpenSSL==24.1.0
pysolr==3.9.0
python-dateutil==2.9.0.post0
python-stdnum==1.20
python3-openid==3.2.0
pytz==2024.1
requests==2.32.1
requests-oauthlib==2.0.0
setuptools==69.5.1
six==1.16.0
social-auth-app-django==5.4.1
social-auth-core==4.5.4
sorl-thumbnail==12.9.0
sqlparse==0.5.0
stripe==4.2.0
typing_extensions==4.12.0
tzdata==2024.1
urllib3==2.2.1
